 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: Arial, sans-serif;
     background-color: rgb(182, 241, 235);
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     
 }

 .form-container {
     background: #ebe6e6;
     padding: 30px;
     width: 550px;
     border-radius: 10px;
     box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
     /* text-align: center; */
     /* margin: 10%; */
 }

 .form-container h2 {
     margin-bottom: 20px;
     color: rgb(124, 77, 77);
     text-align: center;
     font-size: 50px;
 }


 form button {
     padding: 12px;
     width: 100%;
     background: #e33f36;
     border: none;
     color: rgb(248, 241, 241);
     font-size: 16px;
     border-radius: 5px;
     margin-top: 10px;
     margin-bottom: 10px;
 }
form label {
    display: block;
    margin-bottom: 0px;
    color: #445c48;
    font-weight: bolder;
    font-size: 20px;
    
 }

 form input {
     width: 100%;
     padding: 15px;
     margin-bottom: 10px;
     border: 2px solid #36140b;
     border-radius: 5px;
     font-size: 14px;
 }
